:root {
    --bg-body: #B2C2D0;
    --bg-container: rgba(153, 176, 196, 0.75);
    --bg-cadastro: rgba(6, 81, 151, 0.66);
    --bg-form-button: #06A9E0;
    --input-border: #7795B1;
    --text-light: #FFFFFF;
    --text-dark: #000000;
    --radius-lg: 48px;
    --radius-xl: 100px;
    --font-regular: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    color: var(--text-light);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-body);
}

main {
    width: 100%;
    max-width: 1400px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-body);
}

.container {
    width: 1250px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-container);
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: -10px 10px 40px 8px rgba(0, 0, 0, 0.3);
}


.container-cadastro {
    width: 45%;
    height: 100%;
    background-color: var(--bg-cadastro);
    border-top-right-radius: var(--radius-xl);
    border-bottom-right-radius: var(--radius-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 15px;
}

.container-cadastro h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: -4px;
}

.container-cadastro p {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0.9;
    margin-top: -4px;
}

.container-cadastro img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    margin-top: 35px;
}

.container-cadastro button {
    width: 200px;
    height: 55px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #005098;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 7px 8px 13px 3px rgba(0, 0, 0, 0.25);

    transition: background-color 0.25s ease,
        color 0.25s ease,
        border-color 0.25s ease,
        transform 0.25s ease;
}

.container-cadastro button:hover {
    background-color: var(--bg-form-button);
    color: #ffffff;
    border: 3px solid #ffffff;
    transform: translateY(-2px);
}


.container-form {
    width: 55%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-form img {
    width: 350px;
    height: 230px;
    object-fit: cover;
    display: block;


}

.container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}



.form-group {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;

}

.form-group input {
    padding: 15px;
    width: 100%;
    color: var(--text-dark);
    border: 3px solid rgba(119, 149, 177, 0.75);
    border-radius: 20px;
}


.form-group input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.form-group input:focus {
    outline: none;
    box-shadow: none;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper .toggle-password {
    all: unset;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-wrapper .toggle-password svg {
    stroke: #555;
    width: 20px;
    height: 20px;
    transition: stroke 0.2s;
}

.password-wrapper .toggle-password:hover svg {
    stroke: #000;
}


.form-options {
    width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
}


.check {
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--text-dark);
}

.check input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.forgot {
    font-size: 14px;
    color: #003f7f;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.forgot:hover {
    color: #31abd3;
    text-decoration: underline;
}

.container-form button {
    width: 308px;
    height: 53px;
    margin-top: 25px;
    background-color: var(--bg-form-button);
    border: 3px solid rgba(119, 149, 177, 0.75);
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition:
        background-color 0.25s ease-in-out,
        color 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

.container-form button:hover {
    background-color: #005a88;
    color: #ffffff;
    border: 3px solid var(--text-light);
    transform: translateY(-2px);
}