* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    color: var(--text-light);
}

body.body-recuperar-senha {
    background-color: #3D371C;
}

.main-reset {
    --bg-body-reset: #3D371C;
    --bg-left-div: #7E7E29;
    --bg-right-div: #DBDBB7;
    --bg-input-reset: #FFFFFF;
    --input-placeholder-reset: #D3D3D3;
    --input-border-reset: #A78901;

    width: 100%;
    max-width: 1400px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-body-reset);
}


.container-reset {
    width: 1250px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-left-div);
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: -10px 10px 40px 8px rgba(0, 0, 0, 0.3);
}

.container-left {
    width: 45%;
    height: 100%;
    background-color: var(--bg-right-div);
    border-top-right-radius: var(--radius-xl);
    border-bottom-right-radius: var(--radius-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-left img {
    max-width: 80%;
    height: auto;
}


.container-formsReset {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}