:root {
  --bg-body: #B2C2D0;
  --bg-container: rgba(153, 176, 196, 0.75);
  --bg-cadastro: rgba(6, 81, 151, 0.66);
  --bg-form-button: #06A9E0;
  --input-border: #7795B1;
  --text-light: #FFFFFF;
  --text-dark: #000000;
  --radius-lg: 48px;
  --radius-xl: 100px;
  --font-regular: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: var(--text-light);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-body);
}

main {
  width: 100%;
  max-width: 1400px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-body);
}

.container {
  width: 1250px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: var(--bg-container);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: -10px 10px 40px 8px rgba(0, 0, 0, 0.3);
}

.container-cadastro {
  width: 45%;
  height: 100%;
  background-color: var(--bg-cadastro);
  border-top-right-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  gap: 25px;
}

.container-cadastro h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.container-cadastro p {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.9;
}

.container-cadastro img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  margin-top: 10px;
}

.container-cadastro button {
  width: 260px;
  height: 65px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #005098;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 7px 8px 13px 3px rgba(0, 0, 0, 0.25);
}

.container-form {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
  gap: 16px;
  overflow: hidden;
}


.container-form img {
  width: 357px;
  height: 239px;
  object-fit: cover;
  margin: 0;
  align-self: center;
  display: block;
}





